//- A menu for jelly blocks

mixin jelly-menu(imgSrc, links, options)
  - if (!options) options = {}

  .jelly-menu.menu
    div(
      class=`${options.fullRow ? 'full-row' : ''} flex-row`
    )
      .logo.left.column
        if options.homeLink
          a(href=options.homeLink)
            img(
              src=imgSrc
              alt=options.homeAlt
            )
        else
          img(
            src=imgSrc
            alt=options.homeAlt
          )

      .right.column
        a.hamburger(href='#')
          .hamburger-inner
        .right-menu
          ul
            each link in links
              li
                if link.className === null
                  a(href=link.href)
                    = link.text
                else
                  a(
                    href=link.href
                    class=link.className
                  )
                    = link.text
